include /templates/common.jade

+userRoles
+userLocalization
+userPreferences

#import

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.actionChains = !{actionChains};

div#init_data_import(style="display: none")
    | #{contentImport}

script(type='text/javascript').
    spaImportReactPage('clusters/import')
        .then(function(module) { module.renderer(
            'import',
                {
                    contentImport: document.getElementById('init_data_import').textContent,
                    flashMessage: "#{flashMessage}"
                }
            ); });
